.popup-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-test {
  display: flex;
  flex-direction: column;
  justify-items: center;
  max-height: 70%;
  max-width: 70%;
}

.popup-image {
  max-height: 80%;
  max-width: 80%;
  border-radius: 10px;
  margin: auto;
}

.popup-image-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.popup-closing-button {
  color: white;
  font-size: 3rem;
  padding: 0 4%;
  width: 5%;
  height: 5%;
  align-self: flex-end;
  cursor: pointer;
}

.popup-sliding-button-container {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.popup-sliding-button {
  color: white;
  font-size: 3rem;
  cursor: pointer;
  padding: 0 5rem 2rem 5rem;
}
